@model List<File>

<html lang="en">
    <head>
    <meta charset="utf-8" />
        <title>All Files - SecureFileShare</title>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/js/File.js" asp-append-version="true"></script>
    </head>

    <body>
        <div id="allFiles">
            <h1>All Files</h1>

            <input type="text" id="fileSearch" placeholder="Search for files..." />

            <table class="table-dark table-bordered" id="fileTable">
                <thead>
                    <tr>
                        <th class="sortable" data-column="FileName">File Name <span id="icon-FileName"></span></th>
                        <th class="sortable" data-column="Size">Size <span id="icon-Size"></span></th>
                        <th class="sortable" data-column="UploadDate">Upload Date <span id="icon-UploadDate"></span></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="fileTableBody">
                    @await Html.PartialAsync("GetFilesPartial", Model)
                </tbody>
            </table>
            <a asp-action="Upload" id="uploadButton">Upload Files</a>
        </div>
        
    </body>
</html>

